body {
  font-family: 'Ubuntu', sans-serif;
  background-color:#181a1b ;
  color: #e8e6e3;
  text-align: center;
}

ul, ol {
  list-style-position:inside;
  text-align:left;
}

img {
  height: 200px;
  width: auto;
}


h1, h2 {
  font-family: "Noto Serif", serif;
}

h1 {
  font-size: 45px;
  font-family: 'Crete Round', serif;
  color:#e27d35
}

a {
  color:white;
}

.description-heading {
  background-color: #527f3e;
}

.ingredients-heading {
  background-color: #d4992b;
}

.steps-heading {
  background-color: #641d2d;
}

