body {
  background-color:#181a1b ;
  color: #e8e6e3;
  text-align: center;
}

ul {
  list-style-position:inside;
  list-style-image: url(./images/whisk-icon.svg);
}

.header {
  padding: 25px;
  background: #c26d4b;
  font-size: 30px;
  margin:auto;
}

img {
  height:400px;
  width: auto;
}

a:link, a:visited {
  font-size:25px;
  color:white;
  font-family:Georgia, 'Times New Roman', Times, serif
}

.recipe-item {
  padding: 25px;
}